<section class='scroll-mt-4' id='home'>
  <div class='px-4 md:px-12 py-8 md:py-12 max-w-5xl mx-auto'>
    <section
      class='col-span-full lg:col-span-1 bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8'
    >
      <img src='/img/km.webp' alt='' class='rounded-3xl mb-8 w-full' />
      <div class='text-base text-zinc-500 h-full space-y-6'>
        <p>
          Jmenuji se Katya a pocházím z Ukrajiny. Již mnoho let se věnuji umění prodlužování řas a
          mám tu čest spolupracovat s více než 400 spokojenými klienty, kteří se vrací pro krásu a
          péči. Za 8 let své kariéry jsem provedla přibližně 8000 procedur, a nyní, od roku 2024,
          jsem připravena předávat své znalosti dál prostřednictvím profesionálních kurzů. Díky
          mnoha školením a zkušenostem jsem vytvořila vlastní program, který pomůže budoucím
          specialistům v jejich rozvoji.
        </p>
        <p>
          Připravila jsem také prezentace a jedinečný lashbook, které budou klíčovými materiály v
          mém kurzu, aby každý absolvent odešel se sebejistotou a dovednostmi k vytvoření dokonalého
          vzhledu pro své klienty.
        </p>
      </div>
    </section>
  </div>
</section>
