<section class='scroll-mt-4' id='home'>
  <div class='px-8 md:px-12 py-12 max-w-5xl mx-auto'>
    <section
      class='col-span-full lg:col-span-1 bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8'
    >
      <img src='/img/km.webp' alt='' class='rounded-3xl' />
      <ul class='grid grid-cols-1 text-base text-zinc-500 max-w-xl gap-2 group h-full mt-12'>
        <div>
          <p class=''>
            Jmenuji se Katya a pocházím z Ukrajiny. Již mnoho let se věnuji umění prodlužování řas a
            mám tu čest spolupracovat s více než 400 spokojenými klienty, kteří se vrací pro krásu a
            péči. Za 8 let své kariéry jsem provedla přibližně 8000 procedur, a nyní, od roku 2024,
            jsem připravena předávat své znalosti dál prostřednictvím profesionálních kurzů. Díky
            mnoha školením a zkušenostem jsem vytvořila vlastní program, který pomůže budoucím
            specialistům v jejich rozvoji.
          </p>
        </div>
        <div>
          <p>
            Připravila jsem také prezentace a jedinečný lashbook, které budou klíčovými materiály v
            mém kurzu, aby každý absolvent odešel se sebejistotou a dovednostmi k vytvoření
            dokonalého vzhledu pro své klienty.
          </p>
        </div>
        <em class='col-span-full text-sm mt-8'>
          <p>
            Embrace flexibility, halt or terminate your subscription whenever you need. <span
              class='block text-black'>⏤ No questions asked.</span
            >
          </p>
        </em>
      </ul>
    </section>
  </div>
</section>
