---
import { setupScrollTrigger } from '../../helpers/scripts';
import Price from './Price.astro';
---

<div >
  <script>
import { setupScrollTrigger } from "@/helpers/scripts";

    setupScrollTrigger();
  </script>

  <div class="your-element">
    <Price />
  </div>
</div>