<section>
  <div class='px-4 md:px-12 py-8 md:py-12 max-w-5xl mx-auto'>
    <div class='grid grid-cols-2 gap-px rounded-3xl overflow-hidden sm:mx-0'>
      <div class='p-8 sm:p-10 flex items-center justify-center bg-white'>
        <img class='mx-auto' src='/lovely.webp' alt='Transistor' width='158' height='48' />
      </div>
      <div class='p-8 sm:p-10 flex items-center justify-center bg-white'>
        <img class='mx-auto' src='/vivienne.webp' alt='Transistor' width='158' height='48' />
      </div>

      <div class='p-8 sm:p-10 flex items-center justify-center bg-white'>
        <img class='mx-auto' src='/glamoure.webp' alt='Transistor' width='158' height='48' />
      </div>
      <div class='p-8 sm:p-10 flex items-center justify-center bg-white'>
        <img class='mx-auto' src='/thuya.webp' alt='Transistor' width='158' height='48' />
      </div>
    </div>
  </div>
</section>
