<section class='scroll-mt-4 py-12 bg-gray-100' id='price'>
  <div class='max-w-5xl mx-auto px-8 md:px-12'>
    <h2 class='text-2xl tracking-tighter font-light lg:text-4xl text-black mb-10'>Ceník</h2>

    <div class='grid grid-cols-1 gap-4 md:grid-cols-2 cards'>
      <!-- Classic Section -->
      <div class='relative bg-white rounded-xl p-6 shadow card'>
        <img
          src='/eye.png'
          alt='Decorative icon'
          class='absolute top-4 right-4 w-14 h-14 rounded-full'
        />
        <h3 class='text-xl font-semibold'>CLASSIC</h3>
        <ul class='mt-4 text-zinc-700 space-y-2'>
          <li><strong>Nový Set</strong>: 1700 Kč</li>
          <li><strong>Doplnění</strong>:</li>
          <li>2 týdny - 600 Kč</li>
          <li>3 týdny - 700 Kč</li>
          <li>4 týdny - 1000 Kč</li>
          <li>5 týdnů - 1300 Kč</li>
        </ul>
      </div>

      <!-- Light Volume Section -->
      <div class='relative bg-white rounded-xl p-6 shadow card'>
        <img
          src='/eye.png'
          alt='Decorative icon'
          class='absolute top-4 right-4 w-14 h-14 rounded-full'
        />
        <h3 class='text-xl font-semibold'>LIGHT VOLUME (2D - 3D)</h3>
        <ul class='mt-4 text-zinc-700 space-y-2'>
          <li><strong>Nový Set</strong>: 2000 Kč</li>
          <li><strong>Doplnění</strong>:</li>
          <li>2 týdny - 700 Kč</li>
          <li>3 týdny - 800 Kč</li>
          <li>4 týdny - 1000 Kč</li>
          <li>5 týdnů - 1300 Kč</li>
        </ul>
      </div>

      <!-- Super Volume Section -->
      <div class='relative bg-white rounded-xl p-6 shadow card'>
        <img
          src='/eye.png'
          alt='Decorative icon'
          class='absolute top-4 right-4 w-14 h-14 rounded-full'
        />
        <h3 class='text-xl font-semibold'>SUPER VOLUME (6D - 8D)</h3>
        <ul class='mt-4 text-zinc-700 space-y-2'>
          <li><strong>Nový Set</strong>: 2900 Kč</li>
          <li><strong>Doplnění</strong>:</li>
          <li>2 týdny - 900 Kč</li>
          <li>3 týdny - 1000 Kč</li>
          <li>4 týdny - 1300 Kč</li>
          <li>5 týdnů - 1600 Kč</li>
        </ul>
      </div>

      <!-- Cashmere Section -->
      <div class='relative bg-white rounded-xl p-6 shadow card'>
        <img
          src='/eye.png'
          alt='Decorative icon'
          class='absolute top-4 right-4 w-14 h-14 rounded-full'
        />
        <h3 class='text-xl font-semibold'>CASHMERE</h3>
        <ul class='mt-4 text-zinc-700 space-y-2'>
          <li><strong>Nový Set</strong>: 1850 Kč</li>
          <li><strong>Doplnění</strong>:</li>
          <li>2 týdny - 650 Kč</li>
          <li>3 týdny - 750 Kč</li>
          <li>4 týdny - 900 Kč</li>
          <li>5 týdnů - 1100 Kč</li>
        </ul>
      </div>

      <!-- Mega Volume Section -->
      <div class='relative bg-white rounded-xl p-6 shadow card'>
        <img
          src='/eye.png'
          alt='Decorative icon'
          class='absolute top-4 right-4 w-14 h-14 rounded-full'
        />
        <h3 class='text-xl font-semibold'>MEGA VOLUME (4D - 5D)</h3>
        <ul class='mt-4 text-zinc-700 space-y-2'>
          <li><strong>Nový Set</strong>: 2500 Kč</li>
          <li><strong>Doplnění</strong>:</li>
          <li>2 týdny - 800 Kč</li>
          <li>3 týdny - 900 Kč</li>
          <li>4 týdny - 1100 Kč</li>
          <li>5 týdnů - 1400 Kč</li>
        </ul>
      </div>

      <!-- Brows Section -->
      <div class='relative bg-white rounded-xl p-6 shadow card'>
        <img
          src='/eye.png'
          alt='Decorative icon'
          class='absolute top-4 right-4 w-14 h-14 rounded-full'
        />
        <h3 class='text-xl font-semibold'>BROWS</h3>
        <ul class='mt-4 text-zinc-700 space-y-2'>
          <li>Trvarovaný - 150 Kč</li>
          <li>Barvení - 150 Kč</li>
        </ul>
      </div>

      <!-- Additional Services Section -->
      <div class='relative bg-white rounded-xl p-6 shadow card'>
        <img
          src='/eye.png'
          alt='Decorative icon'
          class='absolute top-4 right-4 w-14 h-14 rounded-full'
        />
        <h3 class='text-xl font-semibold'>SPODNÝ RASY</h3>
        <ul class='mt-4 text-zinc-700 space-y-2'>
          <li>Pena - 350 - 450 Kč</li>
          <li>Doplnění po 6 týdnech - Nový Set</li>
          <li>6 týdnů - Nový Set: 400 Kč</li>
        </ul>
      </div>
    </div>
  </div>
</section>
