<section class='scroll-mt-4' id='contacts'>
  <div class='px-8 md:px-12 py-12 max-w-5xl mx-auto'>
    <section
      class='col-span-full lg:col-span-1 bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8'
    >
      <h2 class='text-2xl tracking-tighter font-light lg:text-4xl text-black mb-10'>Kontakty</h2>

      <p class='text-lg text-zinc-700 mb-6'>
        Rádi vám odpovíme na všechny dotazy ohledně našich kurzů a služeb. Neváhejte nás kontaktovat
        pomocí níže uvedených metod:
      </p>

      <div class='mb-10'>
        <h3 class='text-xl font-semibold mb-2'>Adresa:</h3>
        <p class='text-zinc-600'>Palackého 642/13, 779 00 Olomouc</p>
        <div class='mt-4 iframe-container'>
          <a href='https://maps.app.goo.gl/DNawHtSedZfkf76M9' target='_blank'>
            <iframe
              src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.113721429904!2d17.242939377822076!3d49.595604871441644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47124fc8c930ac67%3A0xf0b34df2ed9ee368!2slashroom.cz!5e0!3m2!1scs!2scz!4v1730472257834!5m2!1scs!2scz'
              style='border:0;'
              allowfullscreen=''
              loading='lazy'
              referrerpolicy='no-referrer-when-downgrade'></iframe>
          </a>
        </div>
      </div>

      <div class='mb-10'>
        <h3 class='text-xl font-semibold mb-2'>Kontaktní informace:</h3>
        <p class='text-zinc-600'>
          <strong>Telefon:</strong>
          <a href='tel:+420733525511' class='text-blue-500 hover:underline'>+420 733 525 511</a>
        </p>
        <p class='text-zinc-600'>
          <strong>WhatsApp:</strong>
          <a href='https://wa.me/420733525511' target='_blank' class='text-blue-500 hover:underline'
            >Zpráva na WhatsApp</a
          >
        </p>
        <p class='text-zinc-600'>
          <strong>Messenger:</strong>
          <a
            href='http://m.me/100009400106462'
            target='_blank'
            class='text-blue-500 hover:underline'>Zpráva na Messenger</a
          >
        </p>
        <p class='text-zinc-600'>
          <strong>Instagram:</strong>
          <a
            href='https://instagram.com/lashroom.cz'
            target='_blank'
            class='text-blue-500 hover:underline'>@lashroom.cz</a
          >
        </p>
      </div>

      <div class='mb-10'>
        <h3 class='text-xl font-semibold mb-2'>Otevírací doba:</h3>
        <p class='text-zinc-600'>
          <strong>Pondělí - Pátek:</strong> podle objednávek
        </p>
      </div>
    </section>
  </div>
</section>

<style>
  /* Container for responsive iframe */ .iframe-container { position: relative; width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */ height: 0; overflow: hidden; border-radius: 8px;
  /* Optional for rounded corners */ } .iframe-container iframe { position: absolute; top: 0; left:
  0; width: 100%; height: 100%; } /* Adjust padding for larger screens */ @media (min-width: 1024px)
  { .iframe-container { padding-bottom: 50%; } }
</style>
